@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700"
);
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700"
);
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600"
);
@import url("https://fonts.googleapis.com/css?family=Prompt:regular,700"
);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}



html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: normal;
  color: black;
  background-color:  #FEF4FF;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FEF4FF;

}

[class*='_container'] {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.main{
  flex: 1 1 auto;
  margin-top: 102px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.block-text-title{
  font-weight: 600;
font-size: 55px;
line-height: 103.1%;
color: #000000;
}

.block-text-title-white{
  color: #fff;
  font-weight: 600;
  font-size: 55px;
  line-height: 103.1%;
}

.block-text-text {
  font-weight: 400;
font-size: 16px;
line-height: 128.1%;
}

@media (max-width: 1163px){
  [class*='_container']{
    max-width: 1057px;
  }
}

@media (max-width: 1027px){
  [class*='_container']{
    max-width: 970px;
  }

  .main{
    margin-top: 84px;
  }
}

@media (max-width: 980px){
  [class*='_container']{
    max-width: 750px;
  }
}

@media (max-width: 767px){
  [class*='_container']{
    max-width: none;
  }
}